@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 22% 93%;
    --foreground: 42 6% 12%;
    --card: 42 30% 96%;
    --card-foreground: 42 6% 12%;
    --card-hover: 42 22% 86%;
    --popover: 42 30% 96%;
    --popover-foreground: 42 6% 12%;
    --primary: 42 6% 12%;
    --primary-foreground: 42 22% 93%;
    --secondary: 42 22% 88%;
    --secondary-foreground: 42 6% 12%;
    --muted: 42 22% 88%;
    --muted-foreground: 42 6% 30%;
    --accent: 42 22% 86%;
    --accent-foreground: 42 6% 12%;
    --destructive: 0 62% 45%;
    --destructive-foreground: 42 22% 93%;
    --border: 42 22% 86%;
    --input: 42 22% 86%;
    --ring: 42 6% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 42 22% 93%;
    --foreground: 42 6% 12%;
    --card: 42 30% 96%;
    --card-foreground: 42 6% 12%;
    --card-hover: 42 22% 86%;
    --popover: 42 30% 96%;
    --popover-foreground: 42 6% 12%;
    --primary: 42 6% 12%;
    --primary-foreground: 42 22% 93%;
    --secondary: 42 22% 88%;
    --secondary-foreground: 42 6% 12%;
    --muted: 42 22% 88%;
    --muted-foreground: 42 6% 30%;
    --accent: 42 22% 86%;
    --accent-foreground: 42 6% 12%;
    --destructive: 0 62% 45%;
    --destructive-foreground: 42 22% 93%;
    --border: 42 22% 86%;
    --input: 42 22% 86%;
    --ring: 42 6% 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

